.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2 ;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.logo{
  width: 228px;
  height: 32px;
}

/*Узнать как и где размещать позиционирование */
.logo_place-header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

/*наследования лишние позиции удалить*/
.header__title {
  position: relative;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 338px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom:0;
  right: 0;
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  z-index: 1;
}



.content {
  display: block;
}



.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  min-height: 332px;
}

.two-columns__brief {
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto auto 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-colums__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0;
}

.two-colums__paragraph_null_top {
  margin-top: 0;
}

.two-colums__span-accent {
  font-weight: 600;
}



.digits {
  margin-top: 100px;
}

.section-title {
  text-align: center;
  margin: auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme-dark {
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
  padding: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  position: relative;
  z-index: 1;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}



.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 890px;
  background: #F2F2F2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
  margin-top: 100px;
}

.feinman__title {

  margin: 100px auto 0;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feinman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  margin: 0;
  top: 50%;
}



.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: -210px;
  top: 0px;
  z-index: 0;
}



.footer {
  display: flex;
  min-height: 250px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  margin: 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  cursor: pointer;
  list-style-type: none;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  display: flex;
  margin: 0;
}

.footer__author {
  color: white;
  position: absolute;
  margin: 18px 0;
  bottom: 0;
  left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
}
